@media (max-width: 478px) {
    nav .nav-cont ul {
        position: fixed;
        right: -240px;
        top: 0;
        flex-direction: column;
        align-items: start;
        background-color: var(--primary-color);
        z-index: 100000;
        width: 240px;
        height: 100vh;
        transition: all 0.3s ease;
        padding: 60px 0;
        gap: 0px;
        box-shadow: 1px 2px 10px var(--third-color);
    }

    nav .nav-cont ul li:nth-child(even) {
        background-color: var(--accent-color);
    }

    nav .nav-cont ul li.close {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        width: fit-content;
    }

    nav .nav-cont ul li.close svg[data-lucide]:hover {
        transform: rotate(-90deg);
    }

    nav .nav-cont ul li.close svg[data-lucide] {
        color: var(--white-color);
        transition: all 0.3s ease-in-out;
    }

    nav .nav-cont ul li {
        width: 100%;
    }

    nav .nav-cont ul li a {
        color: var(--white-color);
        width: 100%;
        display: block;
        padding: 10px;
    }

    nav .nav-cont ul li a:hover {
        color: var(--white-color);
    }

    nav .nav-cont .connav svg[data-lucide] {
        display: inline-block !important;
        color: var(--third-color);
    }

    /* Slides  */

    .slider-sec {
        border-radius: 0;
    }

    .slider-cont .img-cont {
        background-color: var(--accent-color);
        opacity: 0.8;
        background: radial-gradient(circle, transparent 20%, var(--accent-color) 20%, var(--accent-color) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, var(--accent-color) 20%, var(--accent-color) 80%, transparent 80%, transparent) 25px 25px, linear-gradient(var(--primary-color) 10px, transparent 2px) 0 -1px, linear-gradient(90deg, var(--primary-color) 2px, var(--accent-color) 2px) -1px 0;
        background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
    }

    .slider-cont .img-cont::after {
        display: none;
    }

    .slider-cont .img-cont img {
        display: none;
    }

    .slider-cont .content {
        width: 100%;
    }


    /* herbiotics */

    .herbiotic .cards-cont {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .herbiotic .cards-cont .card {
        box-shadow: 0 0 3px -1px #000;
    }

    .herbiotic .cards-cont .card .img-head {
        height: 140px;
    }

    .herbiotic .cards-cont .card .body .tags-cont {
        display: none;
    }

    .herbiotic .cards-cont .card .body .title {
        font-size: 16px;
    }

    .herbiotic .cards-cont .card .body .desc {
        font-size: 12px;
        margin-bottom: 35px;
    }

    .herbiotic .cards-cont .card .body button {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        font-size: 10px;
        padding: 10px;
    }

    /* ******************************************************* */
    /* ****************** propritores message **************** */
    /* ******************************************************* */

    .about {
        grid-template-columns: 1fr;
    }

    .about .img-section .details {
        left: 50%;
        transform: translateX(-50%);
    }

    .about .img-section .details i {
        font-size: 26px;
    }

    .about .img-section .details span {
        font-size: 16px;
    }

    .about .img-section .details p {
        font-size: 12px;
        text-wrap: nowrap;
    }

    .about .img-section .img-cont .prop-name {
        right: 50%;
    }

    .about .content .cards-cont {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .about .content .cards-cont .card.ratings {
        grid-column: span 1;
    }

    .about .content .cards-cont .card.ratings {
        grid-template-columns: 1fr;
    }

    .about .content .cards-cont .card.ratings .cont {
        display: flex;
        flex-direction: column;
    }

    /* Contact Section Email And Phone No */

    #contact {
        grid-template-columns: 1fr;
    }

    #contact .mail .details p,
    #contact .call .details p {
        font-size: 12px;
    }

    #contact .vr {
        width: 100%;
        height: 3px;
    }

    footer .footer-cont .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer .footer-cont .content .brand,
    footer .footer-cont .content .developer {
        grid-column: span 2;
    }

    footer .footer-cont .copyright {
        flex-direction: column;
        line-height: 1.1;
    }

    footer .footer-cont .copyright p:first-child {
        color: var(--white-color);
    }


    /* Modal */
    .modal {
        padding: 0 5px;
    }


    .modal .modal-dialogue .timer span {
        font-size: 12px;
    }

    .modal .modal-dialogue .timer svg[data-lucide] {
        width: 20px;
        display: none;
        height: 20px;
    }

    .modal .modal-dialogue .claim a {
        font-size: 12px;
    }

    .modal .modal-dialogue .claim a svg[data-lucide] {
        width: 20px;
        height: 20px;
    }
}